@import '../vars.scss';
// @import '../mixins.scss';

.wghh-map-footer {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;

  // @include bp-sm {
  //   bottom: 25px;
  //   left: 0;
  //   right: auto;
  // }

  &__info-sign {
    color: grey;
  }

  &__link {
    font-family: $font-sans;
    color: grey !important;
    text-decoration: underline !important;
    font-size: 14px;
    text-align: right;

    &:hover {
      color: darken(grey, 40%) !important;
    }
  }
}
