@import '../vars.scss';
@import '../mixins.scss';

.wghh-type {
  display: block;
  margin-top: 20px;
  min-height: 250px;

  @include bp-sm {
    min-height: 140px;
  }

  &__name {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 0 !important;
    color: $red;
  }

  // type coloring
  // @for $i from 1 through length($type-colors) {
  //   &--type-#{$i} &__name {
  //     color: nth($type-colors, $i);
  //   }
  // }
}
